trunk/src/main/webapp/WEB-INF/classes/eosp/1.0/response11.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio Developer Edition (Trial) 9.0.11.3078 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.opengis.net/opt/2.0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.opengis.net/opt/2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EarthObservationResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cloudCoverPercentage" type="xs:string" />
        <xs:element minOccurs="0" name="snowCoverPercentage" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>